@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .elevated-border {
    border-width: 2px;
    border-color: theme('colors.gray-light');
    border-right: 2px solid theme('colors.gray-dark');
    border-bottom: 2px solid theme('colors.gray-dark');
  }
  .sunken-border {
    border-width: 2px;
    border-color: theme('colors.gray-light');
    border-left: 2px solid theme('colors.gray-dark');
    border-top: 2px solid theme('colors.gray-dark');
  }
}

html {
  background-color: theme('colors.green');
}